<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node File Uploads</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

  <div class="container mt-1">
    <div class="jumbotron">
      <a href="/profile" class="btn btn-primary">Add a new Profile</a>
      <a href="/" class="btn btn-primary">Go to Home Page</a>
    </div>

</body>

</html>